@import url(global_style.css);
body {
    margin: 0;
    font-family: Arial, sans-serif;
    

  }

  .content{
    padding-top:96px;
    position:relative;
    bottom: 10px;
 }
  .heroContainer{
    position:absolute;
    width: 45%
    
  }
  
  .heroSection {
    height: 541px;
    background-image: url(https://media.contentapi.ea.com/content/dam/ea/tales-of-kenzera/zau/images/2023/12/talesofkenzera-hero-md-franchisehub-tophero-7x2-xl-newest.jpg.adapt.crop5x2.1455w.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .heroImg{
    height: 147px;
    width: 420px;
    position:absolute;
    top:135px;
    left:108px;
    
  }
  .heroContent{
    position: absolute;
    top: 280px;
    left:108px ;
    
  }
 ç
  .transparentBtn{
    width: 153px;
    height: 51px;
    background-color: transparent;
    color: white;
    border: 2px white solid;
    border-radius: 4px;
    margin-right:26px;
    position:relative;
    bottom:50px;
    font-size: 17px;

  }
  .heroParagraph{
    position:relative;
    bottom: 28px;
    color:white;
    line-height: 25px;
    font-size: 17px;
    font-weight: lighter;
    
  }
  .whiteBtn{
    width: 153px;
    height: 51px;
    border: 2px solid white;
    border-radius: 4px;
    position:relative;
    bottom:50px;
    font-size: 17px;
  }
  
  

  
  .EAplay {
    position:relative;
    height: 530px;
    background-image: url(https://media.contentapi.ea.com/content/dam/eacom/images/2023/09/ea-play-grid-evergreen-hero-md-7x2-xl.jpg.adapt.crop5x2.1455w.jpg);
    background-size:contain;
    background-repeat: no-repeat;
  }
 
  .EaPlayContent{
   position:absolute;
   top: 136px;
   left:100px;
   width: 39%;

  }
  .EaPlayPar{
    position:absolute;
    color:white;
    line-height: 25px;
    font-size: 18px;
    font-weight:200;
    top: 60px;
  }
  .EaPlayButton{
    width: 153px;
    height: 51px;
    background-color: transparent;
    color: white;
    border: 2px white solid;
    border-radius: 4px;
    margin-right:26px;
    position:relative;
    top:120px;
    left:-250px;
    font-size: 17px;

  }