.nav1{
    height: 40px;
    background-color: black;
    color: white;
}
.nav2{
    height:56px;
    background-color: white;
}
.heroSection{
    height: 541px;
    background-image: url(https://media.contentapi.ea.com/content/dam/ea/tales-of-kenzera/zau/images/2023/12/talesofkenzera-hero-md-franchisehub-tophero-7x2-xl-newest.jpg.adapt.crop5x2.1455w.jpg); /* Sostituisci 'percorso/dell/immagine.jpg' con il percorso effettivo del tuo file immagine */
    background-size: cover; /* Imposta la modalità di copertura per l'immagine di sfondo */
    background-repeat: no-repeat;
}
.yearGaming{
    height:97px;
    background-color:97px;
}
.games{
    height: 1039px;
    background-color: rosybrown;

}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Electronic Arts Text", "Verdana", "Helvetica", " Arial", "sans-serif";
  }
  
  #ultimeNovità-container {
    min-width: 259px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    position: relative;
    background-color: #f3f3f3;
  }
  #ultimeNovità-container .ultimeNovità-menuButtons {
    border: none;
    background-color: #f3f3f3;
  }
  #ultimeNovità-container .ultimeNovità-menuButtons svg {
    opacity: 0.5;
    height: 30px;
    width: 30px;
  }
  @media (min-width: 900px) {
    #ultimeNovità-container .ultimeNovità-menuButtons svg {
      display: none;
    }
  }
  #ultimeNovità-container #prev {
    position: absolute;
    left: 0;
    top: 113px;
    z-index: 12;
    height: 49px;
    box-shadow: 7px -2px 15px 2px #f3f3f3;
  }
  @media (min-width: 768px) {
    #ultimeNovità-container #prev {
      display: none;
    }
  }
  #ultimeNovità-container #next {
    position: absolute;
    right: 0;
    top: 113px;
    background-color: #f3f3f3;
    height: 49px;
    z-index: 12;
    box-shadow: -7px 0px 15px 2px #f3f3f3;
  }
  #ultimeNovità-container #ultimeNovità-title {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    padding: 35px;
    background-color: #f3f3f3;
  }
  #ultimeNovità-container #ultimeNovità-cardMenu {
    height: 50px;
    border-bottom: 2px solid #e3e3e3;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    position: relative;
  }
  @media (min-width: 768px) {
    #ultimeNovità-container #ultimeNovità-cardMenu {
      justify-content: center;
      justify-content: flex-start;
      padding-left: 10%;
    }
  }
  @media (min-width: 1024px) {
    #ultimeNovità-container #ultimeNovità-cardMenu {
      justify-content: flex-start;
      padding-left: 21%;
    }
  }
  #ultimeNovità-container #ultimeNovità-cardMenu::-webkit-scrollbar {
    display: none;
  }
  #ultimeNovità-container #ultimeNovità-cardMenu .triggerContainer {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    color: #161616;
    cursor: pointer;
  }
  #ultimeNovità-container #ultimeNovità-cardMenu .triggerContainer:hover {
    background-color: #dedede;
  }
  #ultimeNovità-container #ultimeNovità-cardMenu .triggerContainer.triggered_bg {
    background-color: #dedede;
    color: #646464;
  }
  #ultimeNovità-container #ultimeNovità-cardMenu .triggerContainer .triggerButtons__RedBar {
    display: block;
    margin: 0 auto;
    height: 2px;
    background-color: #ff4747;
    position: absolute;
    bottom: 5%;
    width: 0%;
    transition: width 0.1s ease-out;
  }
  #ultimeNovità-container #ultimeNovità-cardMenu .triggerContainer .triggerButtons__RedBar.visible__bar {
    width: 80%;
    transition: width 0.1s ease-out;
  }
  #ultimeNovità-container #ultimeNovità-cardMenu .trigger {
    background: none;
    padding: 0 15px;
    border-right: 2px solid #dedede;
  }
  #ultimeNovità-container #ultimeNovità-cardMenu:last-child > .trigger {
    border-right: none;
  }
  #ultimeNovità-container .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 24px;
  }

  @media (min-width: 768px) {
    #ultimeNovità-container .content {
      padding: 24px 16px;
      margin: 2.5rem 4rem;
    }
  }
  #ultimeNovità-container .content:not(.visible) {
    display: none;
  }
  #ultimeNovità-container .content .visible {
    display: block;
  }
  #ultimeNovità-container .content .cardUltimeNovità {
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 5px 11px 2px rgba(181, 181, 181, 0.76);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  #ultimeNovità-container .content .cardUltimeNovità .cards_texts_container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #ultimeNovità-container .content .cardUltimeNovità .cards_texts_container .par {
    margin-top: 10px;
  }
  @media (max-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità .cards_texts_container {
      align-items: center;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità .cards_texts_container .title_subtitle_container {
      display: flex;
      gap: 20px;
    }
  }
  @media (max-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità .cards_texts_container .title_subtitle_container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media (max-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità h3 {
      text-align: center;
      margin-top: 5px;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità h3 {
      margin-top: 10px;
    }
  }
  #ultimeNovità-container .content .cardUltimeNovità.card-up {
    box-shadow: 0px 25px 30px 1px rgba(120, 120, 120, 0.76);
    transform: translateY(-10px);
  }
  #ultimeNovità-container .content .cardUltimeNovità .par {
    display: none;
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità .par {
      display: block;
      font-size: 1rem;
    }
  }
  #ultimeNovità-container .content .cardUltimeNovità .card-title {
    color: rgb(245, 80, 79);
    font-size: 12px;
    font-weight: bold;
  }
  #ultimeNovità-container .content .cardUltimeNovità .cardsub-title {
    font-size: 14px;
    font-weight: bold;
  }
  @media (max-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità .cardsub-title {
      margin-top: 5px;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità {
      padding: 0px;
    }
  }
  @media (min-width: 768px) and (min-width: 1024px) {
    #ultimeNovità-container .content .cardUltimeNovità {
      height: 30rem;
      max-width: 350px;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/common/feature-image-a-look-into-life-at-ea-thumbnail-4k-ea-ambient-green-1.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage2 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/common/ea-news-frostbite-rebrand-article-thumbnail-16x9.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage3 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/maxis/common/image2.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage4 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/news/www-ea/common/year-in-gaming/year-in-review-thumbnail-image-final.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage5 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/images/2022/07/eacom-brand-featured-image-16x9.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage6 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/images/2022/07/eacom-brand-featured-image-16x9.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage7 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/ea/fc/fc-24/articles/fc-24-holiday-update/fc-24-holiday-update-001.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage8 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/ea/fc/fc-24/common/homepage/euro-offer/fc24-uefa-euro-16x9.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage9 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/ea/fc/fc-24/articles/24-days-of-ea-sports-fc-24/fc24-pundit-picks-featured-img.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage10 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/ea/fc/fc-24/articles/fc24-adidas-founders-offer-faq/fc24-founder-adidas-dom-1280x700.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage11 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/ea/fc/fc-24/articles/24-days-of-ea-sports-fc-24/common/htwip-feat-omg.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage12 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/ea/fc/fc-24/common/news-crossplay/fc24-news-crossplay-featured-image-16x9.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage13 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/apex-legends/compete/common/algs-etyntk-year-4.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage14 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/apex-legends/common/ignite/apex-s19-feature-image-16x9.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage15 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/apex-legends/common/apex-legends-x-ff7/apex-ff7-16x9-thumbnail.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage16 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/apex-legends/compete/common/algs-year-4-partnered-teams.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage17 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/apex-legends/common/uprising-event/uprising-16x9-thumbnail.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage18 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/apex-legends/common/gift-guide-2023/gift-guide-thumbnail.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage19 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/SIMS/images/2019/04/ts4-grid-tile-patch-notes-game-update-16x9.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage20 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/SIMS/common/ts4-castle-goth-newsroom-1.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage21 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/SIMS/common/ts4-q4-social-2560x1440.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage22 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/SIMS/common/apac-newsroom-asset.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage23 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/SIMS/images/2019/04/ts4-grid-tile-patch-notes-game-update-16x9.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage24 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/SIMS/common/laundry-list-assets/port-of-marriage.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage25 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/swgoh/common/2024/01/kit-reveal-comeuppance/cap-charcard-comeuppance-thumb.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage26 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/swgoh/common/articles/12-dec/cap-charcard-kelleran-beq-thumb.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage27 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/swgoh/common/articles/11-nov/kit-reveal---ig-12---grogu/cap-charcard-ig12-and-grogu-thumb.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage28 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/swgoh/common/articles/10-october/paz-vizsla/cap-charcard-paz-vizsla-16x19-thumb.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage29 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/swgoh/common/articles/10-october/reveal-marauder/cap-2d-promo-marauder-thumb.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage30 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/swgoh/common/articles/09---september/october-calendar/thumbnail-10-oct-update.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage31 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/ea/f1/f1-23/common/articles/max-celebration-article/f123hm-max-parcferme.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage32 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/ea/f1/f1-23/common/news/f123-driver-ratings-16x9-06-dec.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage33 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/ea/f1/f1-23/common/articles/patch-note-v115/hm-f1sportsupdate.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage34 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/ea/f1/f1-23/common/articles/sports-update/eas-f123-f1sportsupdate.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage35 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/ea/f1/f1-23/common/news/f123-driver-ratings-16x9-03-sept.png.adapt.crop16x9.431p.png);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage36 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/ea/f1/f1-23/common/articles/patch-note-v110/pj-f123-ned-036-ric.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage37 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/battlefield/battlefield-2042/news/common/bfc-621-u.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage38 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/battlefield/battlefield-2042/news/common/bf2042-u62-112.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage39 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/battlefield/battlefield-2042/common/dev-notes-vehicle-loadout-featured-fpo.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage40 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/battlefield/battlefield-2042/news/images/2023/10/kin-com-u610.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage41 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/battlefield/battlefield-2042/news/s6-mse-dark-protocol/images/2023/10/s6-mse-featuredimage-1920x1080.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage42 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/battlefield/battlefield-2042/news/update-6-0-0/images/2023/10/kin-com-u60-t.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage43 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/subscription/member-benefits/images/2021/06/eap-member-benefits-nfshpr-16x9.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage44 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/need-for-speed-hot-pursuit-remastered/images/2021/02/nfshp-we-chevrolet-camaro-ss.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage45 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/need-for-speed-hot-pursuit-remastered/images/2020/11/nfshpr-1920x1080-uth-week3-4-mitsubishi-lancer-evolutionx-nologo-web.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage46 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/need-for-speed-hot-pursuit-remastered/images/2020/11/nfshpr-1920x1080-launch-screenshot-1.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage47 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/need-for-speed-hot-pursuit-remastered/images/2020/10/nfshpr-1920x1080-uth-week2-gumpert-apollo-s-web.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content .cardUltimeNovità #unImage48 {
      width: 100%;
      height: 12rem;
      background-image: url(https://media.contentapi.ea.com/content/dam/eacom/need-for-speed-hot-pursuit-remastered/images/2020/10/nfshpr-1920x1080-uth-week1-gumpert-apollo-s-nologo.jpg.adapt.crop16x9.431p.jpg);
      background-position: center;
      background-size: cover;
    }
  }
  @media (min-width: 768px) {
    #ultimeNovità-container .content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
  }
  @media (min-width: 1024px) {
    #ultimeNovità-container .content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding: 1rem 3rem;
    }
    #ultimeNovità-container .content #ultimeNovità-cardContainer {
      width: 100%;
      min-height: min-content;
      background-color: #f3f3f3;
      position: relative;
    }
    #ultimeNovità-container .content #ultimeNovità-cardContainer .content:not(.visible) {
      display: none;
    }
    #ultimeNovità-container .content #ultimeNovità-cardContainer .content.visible {
      display: block;
    }

    .readMore {
      display: flex;
      width: 100vw;
      justify-content: center;
      align-items: center;
      height: 300%;

    }
    .readMore button {
      width: 147px;
      height: 50px;

    }
  }
  #ultimeNovità-container #readMore_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    margin-bottom: 16px;
    width: 100%;
  }

  @media (min-width: 639px) {
    #ultimeNovità-container #readMore_button_container {
      align-items: flex-start;
      height: 6rem;
    }
  }
  #ultimeNovità-container #readMore_button_container #readMore_card_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 0 24px;
  }
  #ultimeNovità-container #readMore_button_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #ultimeNovità-container #readMore_button_container #readMore_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    border: 2px solid black;
    border-radius: 3px;
    transition: transform 0.2s ease-in-out;
    padding: 12px 24px;
    cursor: pointer;
  }
  #ultimeNovità-container #readMore_button_container #readMore_cards:hover {
    transform: scale(1.1);
  }
  @media (min-width: 639px) {
    #ultimeNovità-container #readMore_button_container #readMore_cards {
      width: 150px;
    }
  }